
.top_bg{
    width: 100%;
    background-image: linear-gradient(to right, #4a42d4 , #267fd3);
    color: #ffffff; padding: 10px 20px 20px;
  }
table {
    width: 100%;
    border-collapse: collapse;
  }
  .ChKNodes{
        display:block;
    max-height:400px;
    overflow-y:auto;
  
  }
  
  
  /* try removing the "hack" below to see how the table overflows the .body */
  .hack1 {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  
  .hack2 {
    display: table-cell;
    overflow-x: auto;
    width: 100%;
  }
  
  input[type=checkbox]:not(old) + label, input[type=radio ]:not(old) + label {
      /* display: inline-block; */
      margin-left: -14px;
      padding-left: 28px;
      /* background: url(../images/check.png) no-repeat 0 0; */
      line-height: 24px;
  }
  
  .incent_head{padding: 1rem 2rem; font-size: 16px; background-image: WHITE;
  }
  .incent_head h4{font-size: 22px;font-family: 'Roboto-Bold'!important; letter-spacing:2px;margin: 0 .5rem 0 0; ;}
  
  .incent_bg{width: 100%; min-height: 500px; background: white; font-size: 14px;
    border: 1px solid #267fd3; border-radius: 5px; padding: 25px 50px; margin-bottom: 30px;
  }
  .savebutton {
    background: #267fd3;
    border: 1px solid #267fd3;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
  .table-responsive{height: 350px;}
  
  .table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f3f3f;
  }
  
  
  .table-responsive::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #267fd3;
    border-radius: 3px;
  }
  
  
      
  .incent{margin-bottom: 30px;}
  
  .incent select{​​​​​​​​width: 100%;width: 31%; height: 40px; outline: none; border:1px solid #267fd3; padding: 010px!important; color: black; font-size: 12px; border-radius: 3px; appearance: none;}
  
  
  
  
  