.bg-white{background: #ffffff !important;}
.h_days{font-size: .8rem; font-family: 'HelveticaNeue-Regular';
.num{color: #fff; background: #000; margin: 0 0 0 10px; padding:5px 8px; border-radius: 3px; font-family: 'HelveticaNeue-Bold';}
}
.prof{width:fit-content; margin-right: 50px; display: flex; align-items: center;font-family: 'HelveticaNeue-Medium';
.prof_pic{width: 50px; height: 50px; border-radius: 50px; border: 1px solid #ccc; margin-right: 5px;;}
.text{
    .grt{font-size: .7rem;}
    .name{font-size: .7rem;
        span{text-transform: uppercase; color: #ccc;}
    }
}
}
/* Navbar*/

.navbar-brand {
 padding-top: .75rem;
 padding-bottom: .75rem;
 font-size: 1rem;
 //background-color: rgba(0, 0, 0, .25);
 //box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
 top: .8rem;
 right: 1rem;
}

.navbar .form-control {
 padding: .75rem 1rem;
 border-width: 0;
 border-radius: 0;
}
.navbar .navbar-toggler-icon {
    background-image: url("/src/assets/images/menu.png");
}
.navbar-toggler{
    border: 1px solid #333 !important;

}
.myclass {
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: medium;
    font-weight: bold;
    color: #4a42d4;
}

.incent_bg{width: 100%; min-height: 500px; background: white; font-size: 14px;
    border: 1px solid #267fd3; border-radius: 5px; padding: 25px 50px; margin-bottom: 30px;
  }